#navbar {
	border: thin solid #f5f5f5;
	background-color: #f5f5f5;
	box-shadow: 0 3px 4px rgba(0,0,0,0.12);
	margin-top: 5%;
	display: block;
	position: fixed;
	margin-left: 10%;
}

#fixed-nav {
	width: 100%;
	height: 5%;
	background-color: #23221f;
	position: fixed;
	z-index: 1;
}
#nav-header {
	margin-top: 10px;	
	border-bottom: thin solid gray;
	margin-bottom: 10px;

}

#main {
	margin-top: 3%;
	margin-bottom: 25%;
	margin-left: 30%;
	border-left: thin solid #f5f5f5;
}

a {
	color: black;
}

a:hover {
	text-decoration: none;
	color: orange;
	font-weight: bold;
}

#dispatch-pic {
	margin-top: 20px;
	
}

#description-landing, #threat-landing, #mitigation-landing {
	border: thin solid gray;
	background-color: #f5f5f5;
	text-indent: 5px;
}

.navigation {
	display: inline; 
	color: white;
}

#dropdownMenu1 {
}