
body {
	margin: 0;
	padding: 0;
	background-color: white;
}

.cont {
	background-image: url("../img/texture2.jpg");
	height: 100%;
	margin: 0 auto;
	position: relative;	
}

.module-cont{

	height: 100%;
	background-image: url("../img/digital-background.jpg");
	font-family: 'Helvetica Neue';
	font-weight: 200;
	color: white;
}

.mod-header {
	text-align: center;
	padding-bottom: 20px;
}
.asset {
		text-align: center;
		padding-bottom: 15px;
}

.menu {
	width: 2%;
	padding: 5px;
}

.mid-content {
	font-family: 'Helvetica Neue';
	font-weight: 200;

	display: block;
	margin-right: auto;
	margin-left: auto;
	text-align: center
}

#person-icon {
	height: 80px;
	width: 80px;
}

#person-icon:hover {
	height:110px;
	width: 110px;
}

#mlk {
	margin-top: 10%;
	width: 400px;
	height: 350px;
}

#down-arrow {
	width: 17px;
	height: 17px;
}

#title {
	font-size: 60px;
	margin-top: 25%;
	display: inline-block;
	font-weight: 400
}
#view-change {
	position: absolute;
	bottom: 20px;
	margin-left: 48%
}

.asset-icon {
	height: 80px;
	width: 80px;
}
.asset-icon:hover {
	height: 100px;
	width: 100px;
}



